<div class="d-flex justify-content-center row">
    <div class="col-md-6">

        <div class="row p-2 bg-white">
            <div class="col-lg-12 mt-1 text-start">
                <h5 class="signup-title mb-4 mt-4">Request a New Service</h5>
                <form class="service-form row signup-text">
                    <div class="col-md-12 mb-3">
                        <div class="inputs"> <label>Service Name*</label> <input class="form-control" type="text"
                                id="serviceName" placeholder="Enter service name*"> </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="inputs"> <label>Service Description*</label> <input class="form-control" type="text"
                                id="serviceDescription" placeholder="Enter service description*"> </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="inputs"> <label>Service Price*</label> <input class="form-control" type="text"
                                id="servicePrice" placeholder="Enter service price*"> </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="inputs"> <label>Service Status*</label> <input class="form-control" type="text"
                                id="serviceStatus" placeholder="Enter service status*"> </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="inputs"> <label>Service Date*</label> <input class="form-control" type="text"
                                id="serviceDate" placeholder="Enter service date*"> </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="inputs"> <label>Service Time*</label> <input class="form-control" type="text"
                                id="serviceTime" placeholder="Enter service time*"> </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="inputs"> <label>Service Location*</label> <input class="form-control" type="text"
                                id="serviceLocation" placeholder="Enter service location*"> </div>
                    </div>

                    <br><br>
                    <div class="d-grid gap-2 d-md-block mt-4 mb-4">
                        <button class="btn btn-primary mt-2 me-3 btn-orange" type="submit">Submit</button>
                        <button class="btn btn-primary mt-2 btn-brown" type="button"
                            onclick="window.location.href='/api/services';">Cancel</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
<script src="/js/service.js"></script>